{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="index-page">

  <!-- Header -->
  {% include "header.html" %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'img/img_source/main_bg.png' %}" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>안녕하세요.</h2>
        <p>저는 <span class="typed" data-typed-items="개발자입니다., 데이터엔지니어입니다., BI개발자입니다."></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>데이터 엔지니어 및 BI 개발자로 근무한 경력을 가졌고, Python 및 MS-SQL을 활용한 데이터 처리 및 분석 역량을 보유하고 있습니다.<br>
          Azure, Databricks, Python, PowerBI을 이용하여 다양한 데이터 처리 및 시각화 작업을 수행한 경험이 있으며,<br>
          이를 토대로 데이터 엔지니어링 및 분석 분야에서 실력을 키워나가고자 합니다.<br>
          실제 프로젝트 수행 경력과 빅데이터 관련 교육 수료를 통해 풍부한 경험을 통해 기른 창의성과 문제 해결 능력을 바탕으로<br>
          다양한 데이터 처리 및 분석 프로젝트에 참여하여 팀의 성과를 높이는데 기여할 수 있습니다.</p>
      </div>
      <!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="{% static 'img/img_source/profile.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h2>Data Engineer &amp; BI Developer.</h2>
            <p class="fst-italic py-3">
              데이터 엔지니어링 분야와 BI 개발 경력이 있는 개발자입니다.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>생년월일:</strong> <span>-</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>블로그:</strong> <a href="https://data-is-power.tistory.com/" target="_blank">https://data-is-power.tistory.com/</a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>전화번호:</strong> <span>-</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>거주도시:</strong> <span>대한민국 서울</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>나이:</strong> <span>-</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>최종학력:</strong> <span>학사</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>-</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              2019년 대학졸업 후 장교로 임관하여 2021년 전역한 이후 부트캠프를 수강하였습니다.<br>
              2022년 IT업계에서 개발자로 종사하기 시작하여 데이터 엔지니어링, BI 개발 등의 직무을 맡아 수행한 경력이 <br>
              있는 개발자입니다. Python, Azure, Databricks, SQL, PowerBI와 같은 기술 및 툴들을 다루어본 경험이 있으며, <br>
              데이터 및 Azure 기술 스택과 관련한 다양한 자격증을 취득하여 보유하고 있습니다. 
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="2019" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>년</strong> <span>대학교 졸업</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="2021" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>년</strong> <span>중위로 군대전역</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="2022" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>년</strong> <span>개발자로 업무시작</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="2024" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>년</strong> <span>ETL 및 BI개발자</span></p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <p>현재 가지고 있는 대표적인 기술 스택들입니다.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Azure</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Databricks</span> <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Python</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>SQL</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>PowerBI</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>GIT</span> <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>취득한 자격증, 수료한 교육 및 실제 진행했던 프로젝트들과 관련된 이력내역에 대한 소개입니다.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">수료한 교육</h3>

            <div class="resume-item pb-0">
              <h4>빅데이터 기반 지능형 서비스 개발과정</h4>
              <h5>2021.07 - 2021.12</h5>
              <p>멀티캠퍼스 주관 빅데이터 관련 직업능력개발훈련과정입니다.</p>
              <ul>
                <li>빅데이터 분석을 위한 프로그래밍 / 120H</li>
                <li>데이터 플랫폼 활용 / 120H</li>
                <li>통계학 기반의 실전 머신러닝 / 48H</li>
                <li>실전 빅데이터 분석 프로젝트 / 80H</li>
                <li>알고리즘 기반 모델학습 / 48H</li>
                <li>AI 서비스 개발 프로젝트 / 80H</li>
                <li>기업 요구사항 기반의 서비스 개발 프로젝트 / 248H</li>
                <li>GitHub, UI/UX, 알고리즘, Data Science / 56H</li>
                <li>통계상식, 알고리즘, 애자일 프로젝트, 통계이론, 머신러닝 / 44H</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">취득한 자격증</h3>
            <div class="resume-item">
              <h4>데이터 및 IT 관련 자격증<br></h4>
              <div class="resume-item">
                <h4>ProDS Associate</h4>
                <h5>2021.12</h5>
                <p>삼성 SDS / 멀티캠퍼스에서 주관하는 통계분석 관련 자격증입니다.</p>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                <h4>SQLD(SQL Developer)</h4>
                <h5>2022.06</h5>
                <p>한국데이터산업진흥원에서 주관하는 SQL 관련 자격증입니다.</p>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                <h4>ADsP(Advanced Data Analytics Semi-Professional)</h4>
                <h5>2022.09</h5>
                <p>한국데이터산업진흥원에서 주관하는 데이터분석 관련 자격증 입니다.</p>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                <h4>정보처리기사(Engineer Information Processing)</h4>
                <h5>2022.09</h5>
                <p>한국산업인력공단에서 주관하는 정보공학관련 자격증 입니다.</p>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                <h4>빅데이터분석기사</h4>
                <h5>2023.07</h5>
                <p>한국데이터산업진흥원에서 주관하는 데이터분석 관련 자격증 입니다.</p>
              </div><!-- Edn Resume Item -->
            </div><!-- End Resume Item -->

            <div class="resume-item">
              <h4>Azure 관련 자격증<br></h4>
              <div class="resume-item">
                <h4>Power BI Data Analyst Associate</h4>
                <h5>2022.12</h5>
                <p>Microsoft에서 주관하는 PowerBI 관련 자격증입니다.</p>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Azure Administrator Associate</h4>
                <h5>2022.12</h5>
                <p>Microsoft에서 주관하는 Azure Management(기본) 관련 자격증입니다.</p>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Azure Solutions Architect Expert</h4>
                <h5>2023.01</h5>
                <p>Microsoft에서 주관하는 Azure Management(심화) 관련 자격증입니다.</p>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Power Platform Developer Associate</h4>
                <h5>2023.01</h5>
                <p>Microsoft에서 주관하는 Azure Platform(기본) 관련 자격증입니다.</p>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Power Platform Solution Architect Expert</h4>
                <h5>2023.02</h5>
                <p>Microsoft에서 주관하는 Azure Platform(심화) 관련 자격증입니다.</p>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Teams Administrator Associate</h4>
                <h5>2023.03</h5>
                <p>Microsoft에서 주관하는 Teams 관련 자격증입니다.</p>
              </div><!-- Edn Resume Item -->
            </div><!-- End Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">경력</h3>
            <div class="resume-item">
              <h4>메이븐클라우드서비스</h4>
              <h5>2022 - Present</h5>
              <div class="resume-item">
                <h4>LT메탈 Power BI 보고서 구축</h4>
                <h5>2022.02 - 2022.04</h5>
                <ul>
                  <li>Azure Analysis Services, Visual Studio를 활용한 Data Mart 테이블 처리</li>
                  <li>PowerBI 시각화 Report 작성</li>
                </ul>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                <h4>OB 맥주 분석 리포트 유지보수</h4>
                <h5>2022.05</h5>
                <ul>
                  <li>DataMart와 PowerBI Report의 데이터 일치여부 확인 및 수정</li>
                  <li>PowerBI Report 수정 및 산출물 작성</li>
                </ul>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                <h4>삼성전자 무선사업부 CRM Analytics 운영관리</h4>
                <h5>2022.06 - 2022.12</h5>
                <ul>
                  <li>DataMart와 PowerBI Report의 데이터 일치여부 확인 및 수정</li>
                  <li>PowerBI 성능개선을 위한 테이블 구조 변경 및 DAX식 수정</li>
                  <li>DartMart 관리 및 PowerBI 시각화 Report 생성 및 산출물 작성</li>
                </ul>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                <h4>※ 삼성전자 전사 CRM BI PJT</h4>
                <h5>2023.01 - 2023.06</h5>
                <ul>
                  <li>SSIS를 활용한 원천 Data Source → DW → DM ETL Pipeline 작성 및 모니터링</li>
                  <li>BI Report 속도 개선을 위한 DataMart 처리 및 PowerBI 관계, DAX식 수정</li>
                </ul>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                <h4>※ Golfzon BI 구축 프로젝트</h4>
                <h5>2023.06 - 2024.03</h5>
                <ul>
                  <li>Azure Data Factory를 활용한 원천 Data Source → Data Lake(Gen2) → DataMart ETL Pipeline 작성 및 모니터링</li>
                  <li>Databricks 테이블 생성 및 유지 관리</li>
                  <li>ADF, SFTP를 활용한 반정형 날씨 데이터 이관 후 Databricks 및 Python(pandas, pyspark)를 활용해 테이블 생성, 적재</li>
                  <li>API 및 Databricks Log Table 활용, 시각화 시스템 사용현황 및 파이프라인 실행현황 관련 데이터 ETL, PowerBI Report 생성</li>
                </ul>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                <h4>Golfzon BI 시스템 유지보수</h4>
                <h5>2024.04 - Present</h5>
                <ul>
                  <li>시각화 시스템 ETL 현황 및 사용현황 모니터링 및 유지보수</li>
                  <li>Log client 관련 ETL 내용 follow-up 및 지원</li>
                </ul>
              </div><!-- End Resume Item -->

            </div><!-- End Resume Item -->
          </div>
        </div>
      </div>

    </section><!-- /Resume Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>새로운 기술 습득 및 발전을 위해 진행했던 프로젝트들에 대한 소개입니다.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-pp">Personal Projects</li>
            <li data-filter=".filter-gp">Group Projects</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-pp">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/img_source/notice_board_pratice_01.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Personal Project 1</h4>
                  <p>Django로 만든 간단한 게시판 서비스입니다.</p>
                  <a href="{% static 'img/img_source/notice_board_pratice_01.png' %}" title="Django로 만든 간단한 게시판 서비스입니다." data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'main:portfolio_details_pp1' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-pp">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/img_source/Portfolio_project_01.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Personal Project 2</h4>
                  <p>Django로 만든 나만의 Portfolio 사이트입니다.</p>
                  <a href="{% static 'img/img_source/Portfolio_project_01.png' %}" title="Django로 만든 나만의 Portfolio 사이트입니다." data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'main:portfolio_details_pp2' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-gp">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/img_source/Loading.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Group Project 1</h4>
                  <p>준비중입니다.</p>
                  <a href="{% static 'img/img_source/Loading.png' %}" title="준비중입니다." data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-pp">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/img_source/Loading.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Personal Project 3</h4>
                  <p>준비중입니다.</p>
                  <a href="{% static 'img/img_source/Loading.png' %}" title="준비중입니다." data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>그 동안 진행했던 개발 및 유지보수 프로젝트들(진행기간이 3개월 이상인 프로젝트들)에 대한 세부사항 및 수행한 세부업무에 대한 소개입니다.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
              <h4 class="title"><a href="{% url 'main:service_details_ltmetal' %}" class="stretched-link">LT메탈</a></h4>
              <p class="description">LT메탈에서 진행했던 BI 구축 프로젝트입니다.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
            <div>
              <h4 class="title"><a href="{% url 'main:service_details_samsungelectronics' %}" class="stretched-link"></a>삼성전자</h4>
              <p class="description">삼성전자에서 진행했던 MX, VD, DA 사업부 대상 BI 운영 및 고도화 프로젝트입니다.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
            <div>
              <h4 class="title"><a href="{% url 'main:service_details_golfzon' %}" class="stretched-link"></a>골프존</h4>
              <p class="description">골프존에서 진행했던 BI 시스템 구축 프로젝트입니다.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">향후 추가예정</a></h4>
              <p class="description">향후 추가예정입니다.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">향후 추가예정</a></h4>
              <p class="description">향후 추가예정입니다.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">향후 추가예정</a></h4>
              <p class="description">향후 추가예정입니다.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>프로젝트를 진행하며 동료들로부터 받았던 평가에 대한 내용입니다.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>업무 해결을 위한 적극성과 책임감을 가졌으며, 자신의 역량을 기르기 위한 성실한 노력을 함.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>익명 1</h3>
                <h4>프로젝트 팀원</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>자격증을 취득하며 역량을 키워나가고, 새로운 개발에 계속 도전하는 열정을 배우고 싶음.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>익명 2</h3>
                <h4>프로젝트 팀원</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>다양한 방면으로 문제에 대한 방안을 생각하는 점이 대단하다고 생각함.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>익명 3</h3>
                <h4>프로젝트 팀원</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>본인의 역량강화와 프로젝트를 위해 노력하고 근면성실한 모습을 배우고 싶음.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>익명 4</h3>
                <h4>프로젝트 팀원</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>해당 기능은 현재 작동하지 않습니다.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>-</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call</h3>
                  <p>-</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email</h3>
                  <p>-</p>
                </div>
              </div><!-- End Info Item -->

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-7">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">
                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Your Name</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Message</label>
                  <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

{% endblock %}