{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="service-details-page">

  <!-- Header -->
  {% include "header.html" %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Service Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'main:index' %}">Home</a></li>
            <li class="current">Service Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="#" class="active">Category 1</a>
              <a href="#">Category 2</a>
              <a href="#">Category 3</a>
              <a href="#">Category 4</a>
              <a href="#">Category 5</a>
            </div>

            <h4>프로젝트 고객사</h4>
            <p>프로젝트 고객사에 대한 설명</p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'img/services.jpg' %}" alt="" class="img-fluid services-img">
            <h3>개발(운영)했던 서비스</h3>
            <p>
              개발(운영)했던 서비스에 대한 간략한 소개 
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>서비스를 개발(운영)하면서 맡았던 업무 1</span></li>
              <li><i class="bi bi-check-circle"></i> <span>서비스를 개발(운영)하면서 맡았던 업무 2</span></li>
              <li><i class="bi bi-check-circle"></i> <span>서비스를 개발(운영)하면서 맡았던 업무 3</span></li>
            </ul>
            <p>
              개발(운영)하면서 이루었던 성과에 대한 설명
            </p>
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

{% endblock %}