{% load static %}
<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{% static 'img/my-profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="{% url 'main:index' %}" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">안녕하세요.</h1>
    </a>

    <div class="social-links text-center">
      <a href="https://x.com/" class="twitter" target='_blank'><i class="bi bi-twitter-x"></i></a>
      <a href="https://www.facebook.com/" class="facebook" target='_blank'><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/" class="instagram" target='_blank'><i class="bi bi-instagram"></i></a>
      <a href="https://www.google.com/" class="google-plus" target='_blank'><i class="bi bi-skype"></i></a>
      <a href="https://www.linkedin.com/" class="linkedin" target='_blank'><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
        <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
        <li class="dropdown"><a><i class="bi bi-menu-button navicon"></i> <span>Details</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li class="dropdown"><a><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Deep Dropdown 1</a></li>
                <li><a href="#">Deep Dropdown 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

</header>