{% load static %}
<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{% static 'img/img_source/profile.png' %}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="{% url 'main:index' %}" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">안녕하세요.</h1>
    </a>

    <div class="social-links text-center">
      <a href="https://github.com/Jeong-Beom" class="github" target='_blank'><i class="bi bi-github"></i></a>
      <a href="https://data-is-power.tistory.com//" class="Tistory" target='_blank'><i class="bi bi-clipboard-data-fill"></i></a>
      <a href="https://www.linkedin.com/in/%EC%A0%95%EB%B2%94-%EC%A1%B0-91677a13b/" class="linkedin" target='_blank'><i class="bi bi-linkedin"></i></a>
      <a href="https://www.instagram.com/7466_mouse/" class="instagram" target='_blank'><i class="bi bi-instagram"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'main:index' %}"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="{% url 'main:index' %}#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="{% url 'main:index' %}#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="{% url 'main:index' %}#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
        <li><a href="{% url 'main:index' %}#services"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
        <li class="dropdown"><a><i class="bi bi-menu-button navicon"></i> <span>Details</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a>Portfolio</a></li>
            <li class="dropdown"><a><span>Personal Project</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="{% url 'main:portfolio_details_pp1' %}">Personal Project 1</a></li>
              </ul>
            </li>
            
            <li><a>Services</a></li>
            <li class="dropdown"><a><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="{% url 'main:service_details_sample' %}">Sample</a></li>
              </ul>
            </li>

          </ul>
        </li>
        <li><a href="{% url 'main:index' %}#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

</header>